body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}


.link-element {
  color: #2e2f42;
}

.link-element:visited {
  color: #2e2f42;
}

.link-element:hover,
.link-element:active,
.link-element:focus {
  color: #404bbf;
}

.address-link {
  color: #434455;
}

.address-link:visited {
  color: #434455;
}

.address-link:hover,
.address-link:active,
.address-link:focus {
  color: #404bbf;
}

.heading-color {
  color: #2e2f42;
}

.subheading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
}

.logo-accent {
  color: #2e2f42;
}

.container {
  padding: 120px 0;
  width: 1158px;
}



/* HEADER */
.header-logo {
  display: flex;
  font-family: Raleway, sans-serif;
  align-items: center;
  line-height: 1.17;
  font-weight: 700;
  font-size: 18px;
  margin-right: 76px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo:visited {
  color: #4d5ae5;
}

.header-logo:visited {
  color: #4d5ae5;
}


.header.container {
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
  align-items: center;
 
}


.header-navigation__list {
  display: flex;
  gap: 40px;
  margin-right: 40px;
  padding: 0 15px 0 15px,
}

.header-navigation__list-item .link-element {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 0px;
  padding: 24px 0 24px
}


.header-address {
  font-style: normal;
}

.header-address__list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
  padding: 24px 0 24px;
}

.header-address__list .address-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-right: 0px;
}

/* HERO SECTIOIN */
.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 188px 0 188px;
}

.hero-section__title {
  max-width: 496px;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  
}

.hero-section__button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: inherit;
  border-radius: 4px;
  cursor: pointer;
}

.hero-section__button:hover,
.hero-section__button:focus {
  background-color: #404bbf;
}


/* ABOUT US SECTION */
.about-us-section__content {
  padding: 120px 0 120px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.about-us-section__list {
  display: flex;
  gap: 24px;
  margin-right: 24px;
}

.heading-title {
  width: calc((100% - 72px) / 4);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.container .heading-title {
  margin-bottom: 8px;
}


/* OUR TEAM SECTION */
.our-team-section {
  background-color: #f4f4fd;
}

.our-team-section__list-item {
  background-color: #ffffff;
}

.our-team-section__list-item__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-section__list-item__content {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-section__list {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.our-team-section__list-description {
  text-align: center;
}


/* OUR PORTFOLIO SECTION */

.our-portfolio-section__description p {
  line-height: 1.5;
}

.our-team-section__list {
}


/* FOOTER */
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo .logo-accent {
  color: #f4f4fd;
}

.footer-logo:visited {
  color: #4d5ae5;
}

.footer-content {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

